@import "tailwindcss";

@theme {
  --color-background: #dbd1c3;
  --color-border: #cbbfaf;
  --color-headline: #1f1d1e;
  --color-text-inverse: #f9fafb;
  --color-subtext: rgba(31, 29, 30, 0.8);
  --color-lighttext: rgba(31, 29, 30, 0.7);
  --color-hovernavlink: #7467FF;
  --font-zeist: "Zeist";
  --font-sans: "Zeist", Arial, sans-serif;
  --font-nobile: "Nobile";
  

  /* Fluid Font Sizes (Min Width: 320px, Max Width: 1440px) */
  --text-xs: clamp(0.75rem, 0.71rem + 0.18vw, 0.875rem);
  /* 12px -> 14px */
  --text-sm: clamp(0.875rem, 0.84rem + 0.18vw, 1rem);
  /* 14px -> 16px */
  --text-base: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
  /* 16px -> 18px */
  --text-lg: clamp(1.125rem, 1.08rem + 0.22vw, 1.25rem);
  /* 18px -> 20px */
  --text-xl: clamp(1.25rem, 1.16rem + 0.45vw, 1.5rem);
  /* 20px -> 24px */
  --text-2xl: clamp(1.5rem, 1.36rem + 0.61vw, 1.875rem);
  /* 24px -> 30px */
  --text-3xl: clamp(1.875rem, 1.61rem + 1.15vw, 2.5rem);
  /* 30px -> 40px */
  --text-4xl: clamp(2.25rem, 1.76rem + 2.18vw, 3.5rem);
  /* 36px -> 56px */
  --text-5xl: clamp(3rem, 2.5rem + 3vw, 4.5rem);
  /* 48px -> 72px */
  --text-6xl: clamp(3.75rem, 3.11rem + 3.21vw, 6rem);
  /* 60px -> 96px */
  --text-7xl: clamp(4.5rem, 3.64rem + 4.28vw, 7.5rem);
  /* 72px -> 120px */
  --text-8xl: clamp(6rem, 5.14rem + 4.28vw, 9rem);
  /* 96px -> 144px */
  --text-9xl: clamp(8rem, 6.86rem + 5.71vw, 12rem);
  /* 128px -> 192px */
  --text-10xl: clamp(10rem, 8.57rem + 7.14vw, 15rem);
  /* 160px -> 240px */
}

@layer base {
  @font-face {
    font-family: 'Geist';
    src: url('./assets/fonts/zeist/Geist[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  /* Italic Variable Font (Weights 100-900) */
  @font-face {
    font-family: 'Geist';
    src: url('./assets/fonts/zeist/Geist-Italic[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }

    /* Nobile Regular */
  @font-face {
    font-family: 'Nobile';
    src: url('./assets/fonts/nobile/nobile-v19-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }



  html,
  body {
    max-width: 100%;
    overflow-x: clip;
  }

  body {
    background-color: var(--color-background);
    color: #1f1d1e;
    /* background-color: red; */
    /* padding-inline: 0rem; */
  }
}

@layer components {

  /* This ensures uniform padding and max-width alignment */
  .section-padding {
    @apply px-4 sm:px-6 lg:px-12 mx-auto w-full max-w-[1440px];
  }
}

@utility container {
  /* Equivalent to mx-auto */
  margin-inline: auto;
  /* padding-inline: 3rem; */
  width: 100%;
  background-color: var(--color-background);
}

@tailwind utilities;